@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iansui&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* :root {
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Iansui: "Iansui", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --primary: #f3f5f5;
  --secondary: #69a6e0;
  --accent: #f59e0b;
  --background: #f3f4f6;
} */

@theme {
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Iansui: "Iansui", sans-serif;`
  --font-Outfit: "Outfit", sans-serif;
  --primary: #f3f5f5;
  --secondary: #69a6e0;
  --accent: #f59e0b;
  --background: #f3f4f6;
}


